module_name := "{{module_name}}"

# list commands
default:
  @just --list

# install the packages
install:
  {% raw %}{{ if path_exists("uv.lock") == "true" { "uv sync --all-groups --all-extras --locked --inexact" } else { "uv sync --all-groups --all-extras --inexact" } }}{% endraw %}

# setup for development
setup: install git-setup

# run test coverage and create
test-cov:
  uv run pytest{% if include_module %} --cov=src/{{module_name}} --cov-report=lcov:lcov.info --cov-report=term-missing --cov-report html --cov-report xml{% endif %}

# update packages and uv lock file
update:
  uv sync -U --all-groups --all-extras --inexact

# set up the nbwipers git filter so notebooks stay clean on commit
git-setup:
  @[ -d .git ] || git init
  uv run nbwipers install local