[project]
name = "{{project_name}}"
description = "Add your description here"
readme = "README.md"
requires-python = ">={{python_version}}"
dependencies = [
  "ipykernel>=6.29.5",
]
{% if include_module -%}
dynamic = ["version"]
{% else -%}
version = "0.0.1"
{% endif %}
[dependency-groups]
dev = [
  "pytest>=8",
  "pytest-cov>=7.0.0",
  "nbwipers>=0.6.1",
]
lint = [
  "ruff>=0.13.0",
]
{% if include_module %}
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
{% endif %}
[tool.coverage.report]
exclude_also = [
  "def __repr__",
  "if self.debug:",
  "if settings.DEBUG",
  "raise AssertionError",
  "raise NotImplementedError",
  "if 0:",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
  'class .*\bProtocol\):',
  '@(abc\.)?abstractmethod',
]
{% if include_module %}
[tool.hatch.version]
path = "src/{{module_name}}/__init__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/{{module_name}}"]

[tool.hatch.build.targets.sdist]
exclude = [
  "*.ipynb",
  ".venv",
  "uv.lock",
]
{% endif %}
[tool.nbwipers]
strip-kernel-info = true

[tool.uv]
default-groups = ["dev"]
{% if not include_module -%}
package = false
{% endif -%}