name: tests

on:
  workflow_dispatch:
  pull_request:
  # push:
  #   branches: [main]
permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install the project
        run: uv sync --all-extras --all-groups --frozen
      - name: unit tests
        run: |
          set -o pipefail && \
          uv run pytest{% if include_module %} --cov=src/{{ module_name }} --cov-report=term-missing:skip-covered{% endif %} --junitxml=pytest.xml \
          | tee pytest-coverage.txt
      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        continue-on-error: true
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
