{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "ea143e99",
   "metadata": {},
   "source": [
    "# Data Processing- {{project_name}}\n",
    "\n",
    "## Data Integrity\n",
    "\n",
    "*Provide a 2-3 sentence synopsis of the data's integrity*\n",
    "\n",
    "### Data Source\n",
    "\n",
    "#### Initial Dataset Size\n",
    "\n",
    "#### Data Dictionary\n",
    "\n",
    "### Limitations"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "358ebe89",
   "metadata": {},
   "source": [
    "## Data Processing\n",
    "\n",
    "### Tools Used\n",
    "\n",
    "### Processing Methodology\n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "a6896856",
   "metadata": {
    "vscode": {
     "languageId": "plaintext"
    }
   },
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "markdown",
   "id": "a56abe4c",
   "metadata": {},
   "source": [
    "### Processing Results\n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "facb8def",
   "metadata": {
    "vscode": {
     "languageId": "plaintext"
    }
   },
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "markdown",
   "id": "f380c191",
   "metadata": {
    "vscode": {
     "languageId": "javascript"
    }
   },
   "source": [
    "#### Dirty Data and Outliers\n",
    "\n",
    "#### Clean Data Overview"
   ]
  }
 ],
 "metadata": {
  "language_info": {
   "name": "python"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
